.signUpContainer {
  width: 35%;
  height: 200px;
  margin: auto;
  padding: 20px;
}

.signUpForm {
  border: 2px solid black;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  padding: 20px;
  justify-content: space-around;
  align-items: center;
  gap: 10px;
}

.inputBox {
  padding: 5px;
}


.btn{
    width: 20%;
    padding: 5px;
}